.round-selection {
    margin-left: 15px;
    margin-bottom: 20px;
}

.round-numbers-label {
    background-color: #7d00fa;
    width: 200px;
    display: flex;
    text-align: center;
    color: white;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
    justify-content: center;
    border-radius: 100px;
}

// .round-numbers {
//
// }