@if (!userAuthenticated) {
  <button mat-raised-button
    (click)="onAuthClick()"
    class="login-button"
  >
  Log in with Spotify
  </button>
} @else {
  <div class="navbar">
    <button mat-raised-button class="logout-button" (click)="onLogOut()">Log Out</button>
  </div>
  <app-genre-picker></app-genre-picker>
  <app-setting-adjuster></app-setting-adjuster>
  <button
        mat-raised-button
        class="start-game"
        (click)="startGame()"
        [disabled]="!genreSetList"
  >
  Start Game
  </button>
}